<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
</div>
</div>
<footer>
    <p>&copy; Desenvolvido em 2023</p>
</footer>
<script src="/js/script.js"></script>
</body>
</html>
