<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
</head>
<body>
    <nav class="navbar">
        <div class="logo">Dashboard</div>
        <ul class="nav-links">
            <% if (current_user) { %>
                <li><b>Olá, <%= current_user.username %></b></li>
                <li><a href="/register">Usuários</a></li>
                <li><a href="/logout">Sair</a></li>
            <% } else { %>
                <li><a href="/login">Login</a></li>
            <% } %>
        </ul>
    </nav>
    <h4></h4>
    <div class="container">
        <div class="row">
