<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent" class="text-center">
            <h1>Login</h1>
            <form method="POST" action="/login">
                <div class="mb-3">
                    <input type="text" name="username" class="form-control fadeIn third" placeholder="Nome de usuário" required>
                </div>
                <div class="mb-3">
                    <input type="password" name="password" class="form-control fadeIn third" placeholder="Senha" required>
                </div>
                <button type="submit" class="btn btn-primary w-50 fadeIn fourth">Logar</button>
            </form>
            <br>
               <% if (error_msg) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error_msg %>
                </div>
               <% } %>                     
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
